.navbar-brand {
     margin-left:50px;
     font-weight: bold;
}

.indexBody {
    background-image: url("home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron-Cal {
    background-image: url("imagesJumbotron/ca_jumbo.jpg");
    height: 600px;
}

.jumbotron-Col {
    background-image: url("imagesJumbotron/co_jumbo.jpg");
    background-repeat: no-repeat;
    height: 600px;
}

.jumbotron-UT {
    background-image: url("imagesJumbotron/ut_jumbo.jpg");
    background-repeat: no-repeat;
    height: 600px;
}

.display {
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 4rem;
    background-color: rgba(0,0,0,0.1);
}
.vertical-center {
    text-align: center; 
}

.table-container {
    border: 1px solid #cedaed;
    width: 90%;
    margin: auto;
    padding: 5px;
}

.card {
    background-color: #eaecef;
    border-radius: 0px;
    padding: 5px;
}

.card-body {
    padding: 5px;
}

.card-title {
    text-align: center;
    font-weight: bold;
}

table {
    text-align: center;
}

p {
    text-align: center;
}

hr {
    height: 4px;
    background-image: linear-gradient(to right, white, lightgrey, white);
}
